*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    scroll-behavior: smooth;
}

/* ----------- navigation bar---------- */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px;
    padding: 10px 30px;
}
nav ul li:hover{
    background-color: palevioletred;
    border-bottom:1px solid palevioletred;
}
.hamburger{
    color:#555;
    font-size: 25px;
    display:none;
}
.logo{
    background: rgb(78, 23, 83);
    border-radius: 25px;
    padding: 5px;
}
.logo h1{
    color: rgb(209, 170, 150);
    font: 50px Tahoma;
}
.logo h1 span{
    font-size: 38px !important;
    color: rgb(88, 175, 139);
}
a{
    text-decoration: none;
    color:#fff;
}
p{
    color: #051;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 200px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px ;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.6s all;
}
.btn:hover{
    background: #fff;
    color: red;
}

/* header colour */
.header{
    background: radial-gradient(white, rgb(133, 103, 108));
}
.header row{
    margin-top: 70px 0;
}

/* categoires section starts here */
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1020px;
    margin: auto;
    padding-left:25px ;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: rgb(85, 85, 85);
    position: relative;
}
.title-line{
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -730px;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.ratings{
    color: red;
}
.col-4:hover{
    transform: translateY(-10px);
}

/*-------------------- offer--------------------- */

.offer{
    background: radial-gradient(white, rgb(133, 103, 108));
    margin-top: 80px;
    padding:30px 0;
    max-width: 1900px;
}
.col-2 .offer-img{
    padding: 50px;
}
/* ------------testimonial--------------------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 1px 1px 5px 5px rgb(236, 230, 230);
    border-radius: 10px;
}
.userimg{
 margin-top: 20px;
 background-color: rgb(129, 210, 212);
 border-radius: 50%;   
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa-quote-left{
    color: rgb(134, 15, 15);
}
.testimonial .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:#777;
}
.testimonial .col-3 h3{
    font-weight: 600px;
    color: rgb(114, 106, 106);
    font-size: 16px;
}

/* -----------------brands */
.brands{
    margin: 70px auto;
   
}


.col-5{
    width:100px;
    margin: 0 50px;
}
.col-5 img{
    width: 100%;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
    filter: grayscale(100%);
    
}
.col-5 img:hover{
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px grey;
    /* transform: translateY(-15px); */
    width: 150%;
    filter: grayscale(0);
    
}

/* --------------------------------footer----------------- */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    width: 100%;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-1 .logo{
    width: 180px;
    margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img {
    width: 120px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

@media only screen and (max-width:978px) {
    .hamburger{
        display: block;
        color: wheat;
        cursor: pointer;
        font-size: 35px;
        float: right;
    }
    nav ul{ 
      width: 100%;  
      background-color: rgb(99, 81, 99);
      position: absolute;
      top: 65px;
      left: -100%;
      border-radius: 10px;
      height:60vh ;

    }
    nav ul li{
        display: block;
        text-align: center;
        width: 100%;
        line-height: 50px;
    }
    nav:hover ul{
        left: 0;
        transition: all .3s ease-in;
    }
    .logo{
        background: rgb(78, 23, 83);
        border-radius: 15px;
        padding: 5px 5px;
    }
    .logo h1{
        color: rgb(209, 170, 150);
        font: 35px Tahoma;
    }
    .logo h1 span{
        font-size: 25px !important;
        color: rgb(88, 175, 139);
    }
    .fa-shopping-cart{
    font-size: 30px;
    margin-right: 25px;
    }

}

@media only screen and (max-width:600px) {
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}


@media only screen and (max-width:330px) {
    .navbar{
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .logo{
        background: rgb(78, 23, 83);
        border-radius: 15px;
        padding: 5px 5px;
    }
    .logo h1{
        color: rgb(209, 170, 150);
        font: 20px Tahoma;
    }
    .logo h1 span{
        font-size: 15px !important;
        color: rgb(88, 175, 139);
    }

    .small-container{
        padding-left: 0;
    }

}